@model EpitomelHotel.Models.Bookings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bookings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookingID" />
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" type="date" class="form-control" id="checkIn" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" type="date" class="form-control" id="checkOut" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" id="totalAmount" readonly />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>

          
            <input asp-for="PaymentStatus" type="hidden" />
            <input asp-for="ApplUserID" type="hidden" />

            <div class="form-group">
                <label for="RoomID" class="control-label">Room Type</label>
                <select asp-for="RoomID" class="form-control" asp-items="ViewBag.RoomID" id="roomType"></select>
                <span asp-validation-for="RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
