@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EpitomelHotel</h1>
    <div class="card" style="width: 18rem;">
        <a asp-controller="Rooms" asp-action="Index">
            <img src="~/Images/Rooms.jpg" class="card-img-top" alt="Rooms">
        </a>
        
        
        <div class="card-body">
            <h5 class="card-title" style="color:black">Rooms</h5>
            <p class="card-text" style="color:black" >All rooms and room types.</p>
            <a href="#" class="btn btn-primary">View Rooms</a>
        </div>
    </div>
    
</div>
